#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
  text-align: center;
}

body {
  font-family: "M PLUS 1p", sans-serif;
  margin: 2px;
  font-weight: 500;
  font-style: normal;
}

.button-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 12px;
  margin: 20px 0;
}

.button-container button {
  display: block;
}